@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#ccb6a3] h-[100vh] w-full;
}

/* medium */
@media screen and (min-width: 800px) and (min-height: 450px) {
  #kitchen {
    @apply w-[750px] h-[450px];
  }
}

/* large */
@media screen and (min-width: 1100px) {
  #kitchen {
    @apply w-[1000px] h-[600px];
  }
}

/* xl */
@media screen and (min-width: 1600px) {
  #kitchen {
    @apply w-[1500px] h-[900px];
  }
}


