@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#ccb6a3] h-[100vh] w-full;
}

/* medium */
@media screen and (min-width: 800px) and (min-height: 550px) {
  #kitchen {
    @apply w-[700px] h-[500px];
  }
}

/* large */
@media screen and (min-width: 1100px) and (min-height: 800px) {
  #kitchen {
    @apply w-[1050px] h-[750px];
  }
}

/* xl */
@media screen and (min-width: 1600px) and (min-height: 1100px) {
  #kitchen {
    @apply w-[1260px] h-[900px];
  }
}

button:hover {
  cursor: grab;
}
.custom-cursor-mode button:hover {
  cursor: inherit; /* Preserve custom when active */
}


